/xserverless.iml
/.idea/
.DS_Store
/target/

/middlewares/database/data/*
!/middlewares/database/data/.gitkeep

/middlewares/fileserver/data/*
!/middlewares/fileserver/data/.gitkeep

/fileserver/data/
!/fileserver/data/.gitkeep
/domains/target/
/domains/domains.iml
/middlewares/gateway/.idea/

*.jar
/trail/compose/dev-center-web/www/
/trail/compose/fastdfs/data/storage/
/trail/compose/fastdfs/data/tracker/
/trail/compose/gateway/
/trail/compose/mariadb/data/
/trail/compose/runtime/functions/
/trail/compose/dev-center-web/www/.gitkeep
/trail/compose/fastdfs/data/storage/.gitkeep
/trail/compose/fastdfs/data/tracker/.gitkeep
/trail/compose/gateway/.gitkeep
/trail/compose/mariadb/data/.gitkeep